@import url('../../styles/base.less');

.layout {
  width: 100%;;
  height: 100%;
  display: flex;

  .item {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;

    &:extend(.scrollbar all);
  }

  .charts {
    display: flex;
  }
}