#container {
  display: flex;
  flex: 1 0 0;
  overflow: hidden;
  position: relative;

  .graph {
    flex: 1 0 0;
    font-size: 0px;
  }

  .nodes {
    width: 100%;
    height: 100%;

    .node {
      padding: 8px;
      border: 1px solid black;
      display: inline-block;
    }

    .header {
      float: left;
      font-size: 12px;
      border: 1px solid black;
    }
  }

  .flowchart {
    position: relative;
    z-index: 0;
  }
}

.stressed-node {
  border: 1px solid red;
}

.ordinary-node {
  border: 1px solid black;
}

.stressed-edge {
  path {
    stroke: red;
  }
}

.title {
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;

  .plus {
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 16px;
    cursor: pointer;
  }
}


.popoverContent {
  display: flex;
  flex-direction: column;

  .btn {
    margin: 8px 0;
  }
}

.popoverTitle {
  display: flex;
  align-items: center;

  .close {
    margin-left: 4px;
  }
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;

  :global {
    .ant-card-body {
      height: 100%;
      display: flex;
    }
  }
}