@import url('../../styles/base.less');

.chartContainer {
  display: flex;
  width: 250px;
  align-items: center;
  flex-shrink: 0;
  overflow-y: auto;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
}

.card {
  display: flex;
  flex-direction: column;

  :global(.ant-card-body) {
    overflow-y: auto;
    &:extend(.scrollbar all);
  }
}