.chartContainer {
  display: flex;
  width: 300px;
  align-items: center;
  flex-shrink: 0;
  overflow-y: auto;
  flex-direction: column;
  padding: 8px;
}

.card {
  display: flex;
  flex-direction: column;
}