.scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 3px;
  }

  &:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: gray;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ededed;
  }
}

.color {
  color: red;
}