@import url('../../styles/base.less');

.clusters {
  display: flex;
  padding: 8px;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
  &:extend(.scrollbar all);

  :global {
    .ant-list-items {
      display: flex;
      flex-direction: column;
    }

    .ant-list {
      width: 100%;
      flex:  1 0 0;
      padding: 8px 0;
    }
  }

  .cluster {
    display: flex;
    margin: 0 8px;
    align-items: center;

    .item {
      flex: 1 0 0;
      display: flex;
      overflow-y: auto;

      &:extend(.scrollbar all);
    }

    .cell {
      flex-shrink: 0;
      width: 93px;
      height: 55px;
      border-bottom: 1px solid #f0f0f0;
      padding: 16px;
      box-sizing: border-box;
    }
  }
}

.card {
  flex: 1 0 0;
}