@import url('../../styles/base.less');

.clusters {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
  &:extend(.scrollbar all);

  :global {
    .ant-list-items {
      display: flex;
      flex-direction: column;
    }

    .ant-list {
      width: 100%;
      flex:  1 0 0;
      padding: 8px 0;
    }
  }

  .cluster {
    display: flex;
    margin: 0 8px;
    align-items: center;

    .item {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
    }

    .cell {
      flex-shrink: 0;
      border-bottom: 1px solid #f0f0f0;
      padding: 16px;
      box-sizing: border-box;
    }
  }
}

.card {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  &:extend(.scrollbar all);

  :global {
    .ant-card-head {
      background-color: #75a3c9;
    }
    
    .ant-card-body {
      padding-top: 12px;
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
    }

    .ant-card-head-title {
      padding: 0 !important;
    }

    .ant-card-head-wrapper {
      height: 100%;
      align-items: center;
    }

    .ant-card-extra {
      padding: 0;
    }
  }

  :global(.ant-card-body) {
    overflow-x: auto;
    &:extend(.scrollbar all);
  }
}

.drawer {
  display: flex;
  flex-direction: column;

  .baselist {
    margin: 12px 0;
    padding: 16px 8px;
    display: flex;
  }

  .vislist {
    
  }

  .tlist {

  }

  .score {
    flex-direction: column;

    .desc {
      margin-right: 12px;
    }

    .main {
      display: flex;
      flex-direction: column;
    }
  }
}

.title {
  display: flex;
  align-items: center;

  .right {
    margin-left: 8px;
    font-size: 14px;
  }
}

.edit {
  margin-left: 8px;
  &:extend(.bacisBtn);

  span {
    color: rgba(0,0,0,.85);
  }
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.btns {
  
}