.content {
  display: flex;
  width: 230px;
  padding: 8px 0;
  overflow: auto;
  flex-direction: column;

  .item {
    display: flex;
  }

  .list {
    display: flex;

    .column {
      display: flex;
      margin: 0 2px;
    }
  }
}