.content {
  display: flex;
  width: 230px;
  padding: 8px 0;
  overflow: auto;
  flex-direction: column;

  .item {
    display: flex;
  }

  .list {
    display: flex;

    .column {
      display: flex;
      margin: 0 2px;
    }
  }
}

.modal {
  max-height: 375px;
  overflow-y: auto;

  .actionlist {
    display: flex;
    align-items: center;
  
    .select {
      width: 95px;
    }
  }
  
  .para {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
  
    &Item {
      flex: 1 0 0;
      margin: 16px 0;
      display: flex;
      align-items: center;
    }
  }
  
  .desc {
    margin-right: 12px;
  }

  .content {
    flex: 1 0 0;
  }
}