@import url('../../../styles/base.less');

@fontSize: 30px;

.content {
  display: flex;
  width: 550px;
  height: 500px;
  padding: 8px 0;
  overflow: auto;
  flex-direction: column;
  position: relative;
  // align-items: center;
  z-index: 3;
  background-color: white;
  border-radius: 25px;

  .item {
    display: flex;
    font-size: @fontSize;
    border-bottom: 1px solid black;
  }

  .list {
    display: flex;
    overflow: auto;
    font-size: 30px;
    &:extend(.scrollbar all);

    .column {
      display: flex;
      margin: 0 2px;
    }
  }
}

.modal {
  max-height: 375px;
  overflow-y: auto;

  .actionlist {
    display: flex;
    align-items: center;
  
    .select {
      width: 95px;
    }
  }
  
  .para {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
  
    &Item {
      flex: 1 0 0;
      margin: 16px 0;
      display: flex;
      align-items: center;
    }
  }
  
  .desc {
    margin-right: 12px;
  }

  .content {
    flex: 1 0 0;
  }
}

.popoverTitle {
  display: flex;
  align-items: center;

  .close {
    margin-left: 4px;
  }
}

.popoverContent {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 8px 0;
}

.headers {
  display: flex;
  height: 250px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 16px;
  &:extend(.scrollbar all);

  .table {
    width: 100%;
    height: 100%;
  }
}

.T {
  display: flex;
  font-size: @fontSize;
  justify-content: center;
  margin: 8px 0;
  padding-left: 16px;
  font-weight: 500;
}

.args {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.attribute {
  display: flex;
  justify-content: center;
  font-size: 32px;
  padding: 4px 0 !important;
}

.row {
  font-size: 30px;
}

.itemDesc {
  width: 240px;
  border-right: 1px solid black;
  background-color: #fafafa;
  // font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
}