.chart {
  width: 100%;
  height: 100%;
  margin: 4px 0;
  background-color: rgba(250,250,250,0.6);
  flex-shrink: 0;
}

.visualMap {
  position: absolute;
  right: 1px;
  top: 45%;
  width: 10px;
  height: 50px;
  z-index: 1000;
}

.container {
  width: 250px;
  height: 250px;
  position: relative;
}