.ordinary {
  width: 600px;
  height: 300px;
  font-size: 72px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  background-color: white;
  border-radius: 25px;
  align-items: center;
}

.root {
  width: 750px;
  height: 450px;
  display: flex;
  font-size: 120px;
  justify-content: center;
}

.icon {
  height: 110px;
}

.title {
  font-size: 100px;
  display: flex;
  align-items: center;
}