.container {
  display: flex;
  border: 1px solid gray;
  padding: 8px;
  flex: 1 0 0;
  flex-direction: column;

  .fileupload {
    display: flex;
    align-items: center;

    .btn {
      flex: 1 0 0;
      :global {
        .ant-upload {
          width: 100%;
        }
      }
    }
  }

  .content {
    flex: 1 0 0;
    display: flex;
    overflow: auto;

    .table {
      flex: 1 0 0;
    }
  }

  .bordered {
    border: 1px dashed gainsboro;
    align-items: center;
    justify-content: center;
    font-weight: 450;
  }
}